<div class="container">
  <section class="register-container">
    <mat-card-header>
      <h1>Criar uma conta</h1>
      <p>Você está a um clique de entrar em nossa comunidade.</p>
    </mat-card-header>

    <div class="register-form">
      <div class="box1">
        <mat-form-field class="nome" appearance="fill">
          <mat-label>Nome</mat-label>
          <input placeholder="João Pedro" [(ngModel)]="pessoa.nome" [formControl]="nome" name="nome" maxlength="20"
            matInput required />
          <mat-error *ngIf="nome.invalid">{{ erroValidNome() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="sobrenome" appearance="fill">
          <mat-label>Sobrenome</mat-label>
          <input placeholder="Lemos" matInput [(ngModel)]="pessoa.sobrenome" [formControl]="sobrenome" name="sobrenome"
            maxlength="20" required />
          <mat-error *ngIf="sobrenome.invalid">{{ erroValidSobrenome() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="box2">
        <mat-form-field class="dataNasc" appearance="fill">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="dt" [(ngModel)]="dataFormatada"
            name="dataDeNascimento" required/>
          <mat-datepicker-toggle matSuffix [for]="dt"></mat-datepicker-toggle>
          <mat-datepicker #dt></mat-datepicker>
        </mat-form-field>

        <mat-radio-group class="sexo" appearance="fill" [(ngModel)]="pessoa.sexo" name="sexo">
          <mat-radio-button value="MASCULINO">Masculino</mat-radio-button>
          <mat-radio-button value="FEMININO">Feminino</mat-radio-button>
          <mat-radio-button value="OUTROS">Outros</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="box3">
        <mat-form-field class="telefone" appearance="fill">
          <mat-label>Celular</mat-label>
          <input placeholder="81 9 9999 9999" matInput [(ngModel)]="pessoa.telefone" [formControl]="telefone" name="telefone"
            maxlength="15" required />
          <mat-error *ngIf="telefone.invalid">{{ erroValidTelefone() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="box4">
        <mat-form-field class="emailRegistro" appearance="fill">
          <mat-label>Email</mat-label>
          <input placeholder="examplemail@dominio.com" matInput [(ngModel)]="pessoa.email" [formControl]="email"
            name="email" required />
          <mat-error *ngIf="email.invalid">{{ erroValidEmail() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="senhaRegistro" appearance="fill">
          <mat-label>Senha</mat-label>
          <input placeholder="Digite sua senha" matInput [type]="hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar senha'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <button class="botao" mat-raised-button color="accent" (click)="create()">Criar conta</button>
    <mat-card-footer class="footer">
      <p>
        Ao criar uma conta, você declara que possui mais de 18 anos de idade e
        está de acordo com os Termos de Serviço & Política de Privacidade.
      </p>
    </mat-card-footer>
  </section>

  <section class="login-container">
    <mat-card-header>
      <h1>Iniciar sessão</h1>
      <p>Já possui uma conta? Faça login aqui embaixo.</p>
    </mat-card-header>

    <div></div>
    <mat-form-field class="emailLogin" appearance="fill">
      <mat-label>Email</mat-label>
      <input placeholder="Digite seu email" matInput />
    </mat-form-field>

    <span>
      <a class="resetPW" routerLink="/">Esqueceu sua senha?</a>
    </span>

    <mat-form-field class="senhaLogin" appearance="fill">
      <mat-label>Senha</mat-label>
      <input placeholder="Digite sua senha" matInput [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar senha'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button class="botao" mat-raised-button color="accent" (click)="login()">
      Iniciar sessão
    </button>

    <mat-card-footer class="footer">
      <p>
        Problemas para entrar na sua conta? Certifique que seu navegador está
        com Javascript e cookies habilitados.
      </p>
    </mat-card-footer>
  </section>
</div>