<div class="pricing-header">
  <h1 class="precoTopo">Pricing</h1>
  <p class="precoTexto">
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It's built with default Bootstrap components and
    utilities with little customization.
  </p>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Default</mat-card-title>
        </mat-card-header>

        <h1>$0 <small class="text-muted">/mês</small></h1>

        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem"
              >Acesso a todo conteudo informativo</mat-list-item
            >
            <mat-list-item role="listitem"
              >Acesso ao nosso sistema de pontos e recompensas</mat-list-item
            >
            <mat-list-item role="listitem">Item de teste</mat-list-item>
            <mat-list-item role="listitem">Item de teste</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" (click)="criarConta()">Cadastre-se gratuitamente</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Premium</mat-card-title>
        </mat-card-header>

        <h1 class="">$0 <small class="text-muted">/mês</small></h1>

        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem"
              >Acesso a todo conteudo informativo</mat-list-item
            >
            <mat-list-item role="listitem"
              >Acesso ao nosso sistema de pontos e recompensas</mat-list-item
            >
            <mat-list-item role="listitem">Item de teste</mat-list-item>
            <mat-list-item role="listitem">Item de teste</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent">Cadastre-se gratuitamente</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Enterprise</mat-card-title>
        </mat-card-header>

        <h1 class="">$0 <small class="text-muted">/mês</small></h1>

        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem"
              >Acesso a todo conteudo informativo</mat-list-item
            >
            <mat-list-item role="listitem"
              >Acesso ao nosso sistema de pontos e recompensas</mat-list-item
            >
            <mat-list-item role="listitem">Item de teste</mat-list-item>
            <mat-list-item role="listitem">Item de teste</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent">Cadastre-se gratuitamente</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
