<mat-drawer-container class="containerNav" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list>
            <a class="link" mat-list-item routerLink="">
                <em class="material-icons icones">home</em>
                Home
            </a>

            <a class="link" mat-list-item routerLink="criarPost">
                <em class="material-icons icones">add</em>
                Criar post
            </a>

            <a class="link" mat-list-item routerLink="loginRegistro">
                <em class="material-icons icones">login</em>
                Login/Registro
            </a>

            <a class="link" mat-list-item>
                <em class="material-icons icones">share</em>
                Redes Sociais
                <mat-select>
                    <mat-option>
                        <a href="https://api.whatsapp.com/send?phone=5581995685190" mat-list-item>
                            <em class="material-icons">whatsapp</em>
                        </a>
                    </mat-option>

                    <mat-option>
                        <a href="https://t.me/weslley_jonathan" mat-list-item>
                            <em class="material-icons">telegram</em>
                        </a>
                    </mat-option>

                    <mat-option>
                        <a href="" mat-list-item>
                            <em class="material-icons">discord</em>
                        </a>
                    </mat-option>
                </mat-select>
            </a>

            <a class="link" mat-list-item routerLink="precos">
                <em class="material-icons icones">sell</em>
                Preços
            </a>

            <a class="link" mat-list-item routerLink="sobre">
                <em class="material-icons icones">info</em>
                Sobre
            </a>
        </mat-nav-list>

        <footer class="footer">
            <p>© 2021 DEV PRA DEV</p>
        </footer>
    </mat-drawer>

    <div class="sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon class="teste">apps</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>